@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
:root{
    --primary_color: rgb(237, 230, 219);
    --primaryopc: rgba(237, 230, 219, 0.6);
    --secondary_color:rgb(0, 4, 42);
    --Tertiary_color: rgba(0, 127, 232, 0.8);
}
html {
    min-height: 100%;
}
body{
    background-color:var(--primary_color);
    background-repeat: no-repeat; 
    font-family: "Roboto",sans-serif;
}
a{
    color: var(--secondary_color);
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

a.links:hover {
    transform-origin: bottom left;
    text-decoration: underline var(--Tertiary_color);
    color: var(--Tertiary_color);
    text-underline-offset: 0.5em;
    transform: scale(1.3);
}

a:active {
    text-decoration: none;
}
.nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

/* @media(max-width: 760px){
.nav-container{
    padding: 0;
    justify-content: center;
    align-items: center;
}

.links-container{
    display: none;
}
}  */
.hp-footer{
    position:fixed ;
    bottom: 0;
}

.sara{
    margin-top: 35vw;
}

.footer{
    width: 100%;
    background-color: var(--primary_color);
}

.footertext{
    padding-top: 1.8vw;
    padding-bottom: 1.4vw;
    font-size:10px;
    display:flex;
    justify-content: center;
    color:var(--secondary_color);
    font-family: "Roboto",sans-serif;
}

.links-container{
    padding-top:2% ;
    font-size:1em;
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
}
li{
    list-style-type: none;
}
.sm-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4.5%;
    padding-top: 1vw;
    margin-right: 1vw;
}
.cropimage{
    width: 1.5em;
    height: auto;
    border-radius: 15px;
}
.navimg{
    width: 5.5vw;
    height: auto;
}

.main-container{
    width: 100%;
    margin-top: 4.5vw;
    height: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.backgroundfigure{
    background-image: url(../images/imagebackground222.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 35vw;
    display: flex;
    flex-direction: column;
}

.subsection-container{
    width: 100%;
    display: flex;
    justify-content: end;
} 

.dataholder{
    width: 100%;
    height: 25vw;
    margin-top: 0.3vw;
    display: flex;
    justify-content: space-evenly;
}

.sub-data{
    background-color: var(--secondary_color);
    width: 25%;
    height: 12vw;
    border-radius: 5px;
    border: 2px solid var(--secondary_color);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.sub-data:hover{
    transform: scale(1.1);
}
.smallimages{
    padding-bottom: 2vw;
    width: 100%;
    height: auto;
}

.text{
    font-size: 1.8vw;
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
    width: 16.5vw;
    height: 26vw;
    padding-left:1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:var(--secondary_color)
}
#rs-Vbelle{
    color: var(--primary_color);
}
.subtext{
    padding-top: 10%;
    text-align: center; 
}

.subhead{
    font-size: 1.5vw;
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
    text-align: center;
}

.subpar{
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 0.9vw;
}


/*ABOUT US*/
.container-AU{
    margin-top:60px;
    display: flex;
    flex-direction: column;
}

.cont1-AU{
    background-color: var(--secondary_color);
    width: 100%;
    height: 12vw;
    padding-top: 2%;
    padding-bottom:2%;
    text-align: center;
}

/*ABOUT US HEADER*/ 
.text-AU{
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
}

 .bodytext-AU{
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
} 

/*Div text*/
.text-AU2{
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
}

.bodytext-AU2{
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
}
.header-AU{
    font-size: 3vw;
}
.header-AU::first-letter{
    font-size: 5vw;
    font-family: "Century",sans-serif;
}

.par-AU{
    font-size: 2vw;
    padding-top: 2vw;
}

.par-AU::first-letter{
    font-size: 4.5vw;
    font-family: "Century",sans-serif;
}
.sub-AU{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 10vw;
    margin-bottom: 2vw;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.text-holder{
    width: 50%;
    height: 58vw;
    margin-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* border: 2px solid red; */
}

#th-height{
    margin-top: 20%;
    height: 39vh;
}

.img-holder{
    border-radius: 20px;
}

.sub-img{
    border-radius: 20px;
    width: 49vw;
    height: auto;
}

/*Reservations*/
.resbody{
    background: url(../images/restest22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.resmain{
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resform{
    width: 60%;
    height: 70vh;
    /* margin-bottom:10vw ; */
    background-color:var(--primaryopc);
    border-radius: 10px; 
}
.colflex{
    display: flex;
    flex-direction: column;
}
.resbtncont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reschoice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.rowflex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ncont{
    padding-top:2vw ;
    margin-top: 2vw;
    margin-left:3px;
    width: 59vw;
    height: 10vh;
    border: 2px solid var(--secondary_color);
    border-radius: 5px;
}

input{
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: none;
    color: var(--secondary_color);
    border-bottom: 2px solid var(--secondary_color);
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
input[type=number]{
    border:2px solid var(--secondary_color) ;
    border-radius: 10px;
    height: 3.5vw;
    width: 3vw;
}
input:focus{
    outline: none;
}
label{
    font-weight: 900;
    color: var(--secondary_color);
    font-size: 2vw;
}
#quantity{
    width: 50px;
}
.formbtn{
    font-family: 'Roboto',sans-serif;
    width: 12vw;
    height: 4vw;
    font-size: 1.6vw;
    margin-top: 2vw;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
.resfooter{
    position: fixed;
    bottom: 0;
}
.sborder{
    border-bottom: 5px solid var(--secondary_color);
}


/*REVIEWS*/
.revcont{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.revheader{
    font-size: 8vw;
    color: var(--secondary_color) ;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom:5vw ;
}
.review{  
    border: 2px solid red; 
    padding-top: 2vh;
    padding-bottom:2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.revcard{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3vh;
    margin-left: 3vw;
    width: 15%;
    height: 18vw;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    font-family: "Roboto",sans-serif;
    border-radius: 10px;
}

.revcard:hover{
    transform: scale(1.1);
}
.revcardrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.revcardrate{
    justify-content: center;
}
.revname{
    font-size: 1.8em;
}
.revopt{
    font-size: 1.3em;
    font-weight: 700;
}
.revpar{
    font-size: 0.9em;
}
.stars{
    width: 100px;
    height: auto;
}
/************************************************/
.cu-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6vw;
}
.cu-subcont{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    width: 60%;
    border-radius: 5px;
    opacity: 0.7;
    
}
.cu-bg{
    background: url(../images/cu1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.cu-hd{
    margin-top: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* color: var(--secondary_color);
    background-color: var(--primaryopc); */
    /* color: var(--primary_color);
    background-color: rgba(0, 127, 232, 0.6); */
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.cu-hd h1{
    font-size: 3vw;
    text-decoration: underline;
    text-underline-offset: 1vw;
}
.cu-hd p{
    font-size: 1.5vw;
    margin-top: 7vh;
}
.maincardcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cucardholder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    margin-top: 3vw;
    padding-bottom: 1vw;
}
.cuhd{
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-weight: 800;
    font-size: 1.2em;
}
.cu-img{
    border: 5px solid var(--secondary_color);
    border-radius: 100px;
    width: 5vw;
    height: auto;
    padding: 1vw;
}
.cu-card{
    text-align: center;
}
@media(max-width: 1075px){
    .rowflex{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .split{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ncont{
        height: 30vh;
    }
    .resform{
        margin-top: 15vw;
        padding-right: 1vh;
        height: 80vh;
    }
    input[type=number]{
        margin-left: 2vh;
        margin-top: 2vh;
    }
    .colcol{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    label{
        text-align: center;
    }
    .review{
        flex-direction: column;
    }
    .revcard{
        width: 60%;
        height:60vw ;
        margin-left: 15%;
        margin-bottom: 5vw;
    }

}



