@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
:root{
    --primary_color: rgb(68, 68, 68);
    --secondary_color:white;
    --Tertiary_color: rgba(105, 0, 0, 0.8);
}
html {
    min-height: 100%;
}
body{
    background: linear-gradient(to bottom, var(--primary_color),black);
    background-repeat: no-repeat; 
    font-family: "Roboto",sans-serif;
}
a{
    color: var(--secondary_color);
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a.links:hover {
    transform-origin: bottom left;
    text-decoration: underline var(--Tertiary_color);
    color: var(--Tertiary_color);
    text-underline-offset: 0.3em;
    transform: scale(1.3);
}

a:active {
    text-decoration: none;
}
.nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0%;
} 

.links-container{
    padding-top:30px ;
    font-size: 16px;
    width:28%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sm-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4.5%;
    padding-top: 20px;
}
.cropimage{
    width: 30px;
    height: auto;
    border-radius: 15px;
}
.navimg{
    width: 60px;
    height: auto;

    /* border: 2px red solid; */
}

.main-container{
    width: 100%;
    margin-top: 50px;
    height: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.backgroundfigure{
    background-image: url(../images/imagebackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.subsection-container{
    width: 100%;
    display: flex;
    justify-content: end;
} 

.dataholder{
    width: 100%;
    height: 300px;
    margin-top: 72px;
    display: flex;
    justify-content: space-evenly;
}

.sub-data{
    background-color: var(--Tertiary_color);
    width: 25%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.sub-data:hover{
    transform: scale(1.1);
}
.smallimages{
    width: 100%;
    height: auto;
}

.text{
    font-size: 26px;
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
    width: 240px;
    height: 400px;
    padding-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--Tertiary_color)
}

.subtext{
    text-align: center; 
}

.subhead{
    font-size: 20px;
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
    text-align: center;
}

.subpar{
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 12px;
}

.footertext{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:10px ;
    display:flex;
    justify-content: center;
    color:var(--secondary_color);
    font-family: "Roboto",sans-serif;
}

/*ABOUT US*/
.container-AU{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont1-AU{
    background-color: var(--secondary_color);
    width: 100%;
    height: 150px;
    text-align: center;
}
.text-AU{
    color: var(--Tertiary_color);
    font-family: "Roboto",sans-serif;
}
.bodytext-AU{
    color: var(--secondary_color);
    font-family: "Roboto",sans-serif;
}
.header-AU{
    font-size: 40px;
}
.par-AU{
    font-size: 20px;
}
.sub-AU{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-holder{
    background-color: var(--Tertiary_color);
    width: 50%;
    height: 500px;
    margin-top: 12%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#th-height{
    margin-top: 20%;
    height: 300px;
}
.img-holder{
    border: 1px var(--secondary_color) solid;
    border-radius: 20px;
}
.sub-img{
    border-radius: 20px;
    width: 500px;
    height: auto;
}
